.app {
  padding: 20px;
}

h1 {
  text-align: center;
}

.content-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.calendar-container {
  flex: 0 0 70%;
}

.notepad-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

.mt-4 {
  margin-top: 16px;
}
